@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    font-family: 'Lato', sans-serif;
}

ol {
    @apply list-decimal pl-8;
}

:not(pre) > code {
    @apply px-1
}

code {
    font-family: 'Fira Code', monospace;
    background-color: #272822;
    color: #f8f8f2;
    @apply rounded;
    @apply whitespace-no-wrap;
}

pre {
    @apply my-4;
}

p {
    @apply my-4;
}

h3 {
    @apply text-lg font-bold my-4;
}

@media (min-width: 640px) {
    p {
        @apply text-lg;
    }

    h3 {
        @apply text-xl;
    }
}

img {
    @apply mx-auto;
    @apply my-4;
}

a {
    @apply font-bold underline text-gray-900 transition-colors duration-100 ease-in-out;
}

a:hover {
    @apply text-gray-600;
}

.masthead-description {
    a {
        @apply font-bold underline text-white;
    }
}

.serif {
   font-family: 'Merriweather', serif;
}

.site-title {
    font-family: 'Lobster', cursive;

    img {
        margin: 0 !important;
    }
}

.bg-blurred-image {
    background-size: 200% 200%;
    background-repeat: no-repeat;
}

.text-shadow-half {
    text-shadow: 0.5pt 0.5pt black;
}

.text-shadow {
    text-shadow: 1pt 1pt black;
}
