---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/blog/post/git-automatic-pre-commit-unit-testing /blog/git-automatic-pre-commit-unit-testing
/blog/post/my-picks-for-ludum-dare-44 /blog/my-picks-for-ludum-dare-44
/blog/post/wordpress-cloning-a-live-site-to-make-a-test-site /blog
/blog/post/wordpress-debugging-finding-a-hidden-admin-toolbar /blog/wordpress-debugging-finding-a-hidden-admin-toolbar
/blog/post/c-optimising-the-bubble-sort /blog/c-optimising-the-bubble-sort
/blog/post/c-making-our-bubble-sort-flexible /blog/c-making-our-bubble-sort-flexible
/blog/post/c-programming-a-bubble-sort /blog/c-programming-a-bubble-sort
/blog/post/php-basic-performance-testing /blog/php-basic-performance-testing
/blog/post/bash-writing-a-simple-backup-script /blog/bash-writing-a-simple-backup-script
/blog/post/c-basic-performance-testing-on-linux /blog/c-basic-performance-testing-on-linux
/blog/post/bash-minifying-and-combining-javascript-files /blog/bash-minifying-and-combining-javascript-files
/blog/post/bash-making-a-simple-yes-no-prompt /blog/bash-making-a-simple-yes-no-prompt
/blog/page/2 /blog
/blog/page/3 /blog
/blog/category/bash /blog/categories/bash
/blog/category/scripting /blog/categories/scripting
/blog/category/git /blog/categories/git
/blog/category/game-development /blog/categories/game-development
/blog/category/php /blog/categories/php
/blog/category/wordpress /blog
/blog/category/debugging /blog/categories/debugging
/blog/category/c /blog/categories/c
/blog/category/programming /blog/categories/programming
/blog/category/algorithms /blog/categories/algorithms
/blog/category/performance /blog/categories/performance
/blog/category/linux /blog/categories/linux
/blog/category/javascript /blog
/blog/categories /blog
