---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/blog/post/git-automatic-pre-commit-unit-testing / 410
/blog/post/my-picks-for-ludum-dare-44 / 410
/blog/post/wordpress-cloning-a-live-site-to-make-a-test-site / 410
/blog/post/wordpress-debugging-finding-a-hidden-admin-toolbar / 410
/blog/post/c-optimising-the-bubble-sort / 410
/blog/post/c-making-our-bubble-sort-flexible / 410
/blog/post/c-programming-a-bubble-sort / 410
/blog/post/php-basic-performance-testing / 410
/blog/post/bash-writing-a-simple-backup-script / 410
/blog/post/c-basic-performance-testing-on-linux / 410
/blog/post/bash-minifying-and-combining-javascript-files / 410
/blog/post/bash-making-a-simple-yes-no-prompt / 410
/blog/page/2 / 410
/blog/page/3 / 410
/blog/category/bash / 410
/blog/category/scripting / 410
/blog/category/git / 410
/blog/category/game-development / 410
/blog/category/php / 410
/blog/category/wordpress / 410
/blog/category/debugging / 410
/blog/category/c / 410
/blog/category/programming / 410
/blog/category/algorithms / 410
/blog/category/performance / 410
/blog/category/linux / 410
/blog/category/javascript / 410
/blog/categories / 410
