---
layout: base.njk
description: Projects and Blog of Web Developer and Hobbyist Programmer Seb Jones.
---

<main>
    {% for project in projects %}
        {% set mastheadTitle = project.title %}
        {% set mastheadDescription = project.description %}
        {% set mastheadImage = project.image %}
        {% set mastheadAlt = project.alt %}
        {% set mastheadLinks = project.links %}
        {% set mastheadLazyLoadImage = (not loop.first) %}

        {% include "masthead.njk" %}
    {% endfor %}
</main>
