---
layout: base.njk
---

{% for project in projects %}
    {% set mastheadTitle = project.title %}
    {% set mastheadDescription = project.description %}
    {% set mastheadImage = project.image %}
    {% set mastheadAlt = project.alt %}
    {% set mastheadLinks = project.links %}

    {% include "masthead.njk" %}
{% endfor %}
