<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        {% if description or excerpt %}
            {% set metaDescription = description if description else excerpt %}
            <meta name="description" content="{{ metaDescription | md | striptags }}">
        {% endif %}

        <title>{{ title }} {{ '–' if title }} Seb Jones</title>

        {% if linkSyntaxHighlightingTheme %}
            <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        {% endif %}
        
        <link href="https://fonts.googleapis.com/css2?family=Lato{{ "&family=Fira+Code" if linkMonospaceFont }}&family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/app.css" type="text/css" media="screen" charset="utf-8">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=5A6Pj7N4x7">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=5A6Pj7N4x7">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=5A6Pj7N4x7">
        <link rel="manifest" href="/images/favicon/site.webmanifest?v=5A6Pj7N4x7">
        <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=5A6Pj7N4x7" color="#5bbad5">
        <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=5A6Pj7N4x7">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=5A6Pj7N4x7">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="bg-black text-white">
        <header class="w-full bg-black text-white text-2xl p-4 flex justify-between items-center flex-col md:flex-row">
            <h1 class="site-title my-2 md:my-0 text-gray-300"><img width="150" height="auto" src="/images/logo.svg" alt="Seb Jones Website Logo"></h1>
            <nav class="w-full md:w-auto">
                <ul class="flex justify-around md:justify-end items-center">
                    <li>
                        <a href="/" class="text-lg md:text-xl serif underline text-gray-300 md:mr-8">Work &amp; Projects</a></h2>
                    </li>

                    <li>
                        <a href="/blog" class="text-lg md:text-xl serif text-gray-300 md:mr-4 underline" href="#">Blog</a></h2>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="bg-white">
            {{ content | safe }}
        </div>
    </body>
</html>
