---
layout: base.njk
---

{% include "masthead.njk" %}

<div class="flex flex-col md:flex-row-reverse text-xl">
    <div class="container mx-auto max-w-screen-lg text-black p-16">
        {{ content | safe }}
    </div>

    <aside class="max-w-xs text-black p-16">
        <h2 class="text-3xl serif">Categories</h1>
        <ul class="py-4">
            {% for tag in collections.tagList | sort %}
                {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
                <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </aside>
</div>
