{% for post in postList %}
    <article class="{{ "mb-8 lg:mb-16" if (not loop.last) }}">
        <h3 class="text-2xl lg:text-3xl mb-2 font-bold">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>

        <p class="text-md text-gray-700 italic mb-2">{{ post.date | date }}</p>

        {% if post.data.excerpt %}
        <p>{{ post.data.excerpt | md | safe }}</p>
        {% endif %}
    </article>
{% endfor %}
