---
layout: blogBase.njk
---

<main class="container mx-auto lg:max-w-screen-md text-black">
    {{ content | safe }}
</main>

<aside class="max-w-xs text-black mt-8 lg:my-0">
    <h2 class="text-2xl serif">Categories</h1>
    <ul class="py-2">
        {% for tag in collections.tagList | sort %}
            {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
            <li><a class="text-lg leading-relaxed" href="{{ tagUrl | url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</aside>
