<div class="flex flex-col lg:flex-row justify-between text-gray-800 text-sm lg:text-md">
    {% if categories.length > 0 %}
        <p class="m-0">
        {{ "Categories:" if categories.length > 1 else "Category:"}}
            {% for category in categories %}
                <a href="{{ category | blogCategoryUrl }}">{{ category }}</a>{{ ", " if not loop.last }}
            {% endfor %}
        </p>
    {% endif %}

    <p class="text-sm lg:text-md text-gray-700 m-0">Published {{ date | date }}</p>
</div>
