<div class="flex flex-col md:flex-row-reverse">
    <div class="container mx-auto max-w-screen-md text-black p-4">
        <h2 class="text-3xl serif mb-4">{{ title }}</h2>

        {% for post in postList %}
            <article class="mb-4">
                <h3 class="text-xl mb-2 font-bold">
                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                </h3>
                <p class="text-md text-gray-800 mb-2">{{ post.date | date }}</p>
                {% if post.data.excerpt %}
                <p>{{ post.data.excerpt | md | safe }}</p>
                {% endif %}
            </article>
        {% endfor %}
    </div>

    <aside class="max-w-xs text-black p-4">
        <h2 class="text-3xl serif">Categories</h1>
        <ul class="pl-4 list-disc">
            {% for tag in collections.tagList | sort %}
                {% set tagUrl %}/blog/categories/{{ tag | slug }}/{% endset %}
                <li><a href="{{ tagUrl | url }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </aside>
</div>
