---
layout: blogBase.njk
eleventyComputed:
  mastheadDescription: "{{ excerpt }}"
---

<main class="container mx-auto max-w-screen-lg text-black">
    <div class="mb-0 lg:mb-6">
        {% set categories = tags | categoryTags %}
        {% include 'blogPostDetails.njk' %}
    </div>

    {{ content | safe }}
</main>
