<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }} {{ '&ndash;' if title }} Seb Jones</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="app.css" type="text/css" media="screen" charset="utf-8">
    </head>
    <body class="bg-black text-white">
        <header class="w-full bg-black text-white text-2xl p-2 flex justify-between items-center lg:items-center flex-col lg:flex-row">
            <h1 class="site-title text-3xl lg:text-5xl text-gray-300">Seb Jones</h1>
            <nav class="w-full lg:w-auto">
                <ul class="flex justify-around lg:justify-end items-center">
                    <li>
                        <p class="text-lg lg:text-2xl serif underline text-gray-300 lg:mr-8">Work &amp; Projects</p></h2>
                    </li>

                    <li>
                        <a class="text-lg lg:text-2xl serif text-gray-300 lg:mr-4 underline" href="#">Blog</a></h2>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="bg-white">
            {{ content | safe }}
        </main>
    </body>
</html>
