<div class="w-full bg-blurred-image p-4 md:p-8 xl:p-16"
     style="background-image: url('{{ mastheadImage | blurredImage }}');"
     >

     <div class="flex justify-between items-end flex-col-reverse lg:flex-row">
         <div class="container mx-auto flex flex-col lg:pr-4 xl:pr-16 max-w-xl lg:max-w-none"
              >
              <h2 class="mb-0 mt-4 text-2xl lg:text-4xl serif text-shadow text-center lg:text-left">{{ mastheadTitle if mastheadTitle else title }}</h2>

              {% if mastheadDescription %}
                  <p class="mb-0 mt-4 masthead-description text-base lg:text-xl text-shadow">{{ mastheadDescription | md | safe }}</p>
              {% endif %}

              {% if mastheadLinks %}
                  <div class="mt-2">
                      {% for link in mastheadLinks %}
                          <p class="lg:text-lg text-shadow-half underline  mb-0 mt-2 text-right"><a class="text-white" href="{{ link.href }}">{{ link.label }}</a></p>
                      {% endfor %}
                  </div>
              {% endif %}
         </div>

         <img src="{{ mastheadImage }}"
              width="640"
              height="512"
              alt="{{ mastheadAlt }}"
              {{ 'loading=lazy' if mastheadLazyLoadImage }}
              class="shadow-xl m-0 mx-auto w-full max-w-xl lg:max-w-none"
              >
     </div>
</div>
