---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: "Blog Category: “{{ tag }}”"
layout: blogBase.njk
permalink: /blog/categories/{{ tag | slug }}/
mastheadImage: "/images/aeneid-opening-verse.jpg"
mastheadAlt: "A manuscript of the opening verses of The Aeneid."
---

{% set postList = collections[ tag ] %}
{% include "blogPostList.njk" %}
