---
layout: blogBase.njk
title: Blog
mastheadItem: {
    "title": "Blog",
    "image": "/images/aeneid-opening-verse.jpg",
    "alt": "A manuscript of the opening verses of The Aeneid."
}
---

{% set postList = collections.blog | reverse %}
{% include "blogPostList.njk" %}
